.container {
  padding-right: 0px !important;
}

.patient-cancelRecord-popbox {
  display: block;
  z-index: 7 !important;
  position: fixed;
  top: 31%;
  left: 32%;
  bottom: 0;
  right: 0;
  width: 750px;
  height: 328px;
  background: #f6f7f8;
  box-shadow: grey 1px 2px 3px;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}
.patient-cancelRecord-popbox input {
  height: 40px;
}
.input-from,
.input-untill {
  width: 100%;
}
.input-date,
.input-doctor {
  width: 86.5%;
}
.input-comment {
  resize: none;
  height: 92px;
  width: 90%;
}
.patient-cancelRecord-popbox .right-part {
  height: 328px !important;
}
.patient-cancelRecord-popbox .right-part button {
  border-radius: 30px;
  border-style: unset;
  border-color: unset;
  color: white;
  height: 40px;
  width: 99px;
  outline: none;
}

.patient-cancelRecord-popbox .right-part .cancel-btn {
  position: absolute;
  bottom: 82px;
}

.patient-cancelRecord-popbox .right-part .save-btn {
  position: absolute;
  bottom: 37px;
}

.patient-cancelRecord-popbox .right-part .cancel-btn button {
  background: #f08786;
}
.patient-cancelRecord-popbox .right-part .save-btn button {
  background: #3b80d6;
}
