.patient-appoint-form {
  display: block;
  z-index: 1;
  position: fixed;
  top: 35%;
  left: 28%;
  bottom: 0;
  right: 0;
  width: 800px;
  height: 288px;
  background: #f6f7f8;
  box-shadow: grey 1px 2px 3px;
  text-align: center;
  border-radius: 5px;
}

.patient-appoint-form-input {
  width: 606px;
  height: 72px;
  margin-bottom: 40px;
  border: none;
  border-radius: 5px;
  box-shadow: grey 1px 2px 3px;
}
.patient-appoint-form :-ms-input-placeholder {
  text-align: center;
}
.patient-appoint-form-input::placeholder {
  text-align: center;
}

.patient-appoint-form .text {
  margin-top: 20px;
}

.patient-appoint-form .input_container {
  text-align: center;
}

.popbox_buttons .button_appoint button {
  background: #3b80d6 !important;
  border-radius: 50px !important;
  color: white;
  height: 40px;
  box-shadow: none !important;
  border-color: #3b80d6 !important;
  width: 160px;
  border-style: none !important;
}

.popbox_buttons .button_add_patient button {
  background: #fe9841 !important;
  border-radius: 50px !important;
  color: white;
  height: 40px;
  box-shadow: none !important;
  border-color: #fe9841 !important;
  width: 220px;
  border-style: none !important;
}
.search_results {
  background-color: white;
  position: fixed;
  z-index: 2;
  width: 706px;
  height: auto;
  top: 50%;
  left: 31%;
  max-height: 600px;
  padding: 0;
  border-radius: 5px;
  box-shadow: grey 0px 0px 5px 0px;
  margin-left: 3px;
}
.search_results li {
  list-style-type: none;
}
.search_results p {
  font-size: 12px;
  line-height: 24px;
}
.search_results .col-lg-4:nth-child(2) p {
  text-align: left;
}
.search_results .col-lg-4:nth-child(2) ul {
  padding: 0 !important;
}
.search_results .col-lg-4:nth-child(2) li {
  text-align: left;
}
.search_results li {
  font-size: 12px;
}
